@CHARSET "UTF-8";

#container {
	width: 400px;
	height: 200px;
	border-radius: 12px;
	background-color:lavenderblush;
	margin-left:250px;
	margin-right:250px;
	margin-top: 250px;
	margin-bottom: 250px;
	
	
	
}

#header {
	width: 400px;
	height: 55px;
}

#nav {
	float: left;
	width: 300px;
	height: 40px;
	
}

#main {
	float: right;
	width: 100px;
	height: 40px;
	padding-left: 23px;
}

#footer {
	clear: both;
	width: 400px;
	height: 55px;
}



